@primary: #601D33;
@primary_darker: #74233D;
@book_btn_color: #FFFFFF;
@book_btn_hover_shadow: #000000;
@book_btn_border: #FFFFFF;
@book_btn_hover: #681f36;
@book_btn_smll_hover: #681f36;
@seats_left_shadow: #FFFFFF;
@cal_link_color: #FFFFFF;
@cal_link_hover_color: #999999;
@header_background: #FFFFFF;
@main_nav_color: #601D33;
@main_nav_hover_color: #000000;
@nav_dropdown_background_hover: #601D33;
@nav_dropdown_background: #FFFFFF;
@nav_dropdown_hover_color: #FFFFFF;
@nav_dropdown_link_color: #601D33;
@dropdown_link_hover_color: #FFFFFF;
@social_media_icons_color: #601D33;
@social_media_icons_hover_color: #000000;
@import "base.less";
