@primary: #fed208;
@primary_darker: #ffe469;
@primary_lighter: #EAC621;
@lt_grey: #999999;
@white: #FFFFFF;
@black: #000000;
@book_btn_color: #333333;
@book_btn_hover_shadow: default;
@book_btn_border: @primary_darker;
@book_btn_hover: @primary_lighter;
@book_btn_smll_hover: @primary_lighter;
@seats_left_shadow: #333;
@cal_link_color: default;
@cal_link_hover_color: default;
@header_background: @black;
@main_nav_color: @white;
@main_nav_hover_color: @lt_grey;
@nav_dropdown_background_hover: @black;
@nav_dropdown_link_color: @white;
@nav_dropdown_hover_color: @lt_grey;
@nav_dropdown_background: @black;
@dropdown_link_hover_color: @lt_grey;
@social_media_icons_color: @white;
@social_media_icons_hover_color: @primary;
@social_media_visited_color: @white;
@import "base.less";
