@primary: #09bdeb;
@primary_darker: #2bc9f1;
@book_btn_color: #333333;
@book_btn_hover_shadow: default;
@book_btn_border: #46a4e3;
@book_btn_hover: #3cd4fb;
@book_btn_smll_hover: #3cd4fb;
@seats_left_shadow: #333;
@cal_link_color: default;
@cal_link_hover_color: default;
@header_background: #000;
@main_nav_color: #FFF;
@main_nav_hover_color: #999;
@nav_dropdown_background_hover: #000;
@nav_dropdown_background: #000;
@nav_dropdown_hover_color: #999;
@nav_dropdown_link_color: #fff;
@dropdown_link_hover_color: #999;
@social_media_icons_color: #FFFFFF;
@social_media_icons_hover_color: #09bdeb;

@import "base.less";
