wp-content/themes/quark/error_log
wp-content/uploads/*
wp-content/cache/*
wp-content/plugins/special-recent-posts/cache/*
!wp-content/plugins/special-recent-posts/cache/.placeholder
wp-content/plugins/simply-instagram/cache/*
!wp-content/plugins/simply-instagram/cache/.placeholder
wp-content/plugins/simply-instagram/cache-api/*
!wp-content/plugins/simply-instagram/cache-api/.placeholder
wp-content/uploads/gravity_forms/*
!OvR 2014-15WAIVER.pdf.zip
error_log
.DS_Store
/tmp/librarian/
.vagrant/
!dev.sql
Gemfile.lock
local.ovrride.com.key
local.ovrride.com.crt
local.ovrride.com.csr
data_bags/secret_keys/
wp-content/plugins/simply-instagram/cache-api/*.json
