# Ignore everything
*

# Ignore everything except 
!.gitignore
!README.md
!/wp-content/
!/wp-content/plugins/
!/wp-content/plugins/ovr_functions/
!/wp-content/plugins/ovr_functions/*
!/wp-content/themes/
!/wp-content/themes/quark/
!/wp-content/themes/quark/*
!/wp-content/themes/quark/*/*
!/wp-content/themes/quark/*/*/*
!/wp-content/themes/quark/*/*/*/*
!/wp-content/themes/quark/*/*/*/*/*

