# Protect system files from peeping eyes
<FilesMatch "signature.html|dev.sql|Gruntfile.js|package.json|ovrride.sql|README.md|register.php|Vagrantfile">
  Order allow,deny
  Deny from all
</FilesMatch>

# RewriteEngine on - must be declared at least once before any Rewrites rules
RewriteEngine On

# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
</IfModule>

# END WordPress

# Rewrite WordPress /login to /wp-login.php
RewriteRule ^login$ https://ovrride.com/wp-login.php [NC,L]

# Prevent indexing of directories without an index file
Options -Indexes

# Protect the development directories from peeping eyes
RedirectMatch 404 /\.chef
RedirectMatch 404 /\.git
RedirectMatch 404 /\.vagrant
RedirectMatch 404 /chef
RedirectMatch 404 /roles
RedirectMatch 404 /site-cookbooks

# Rewrite ovrride.net to ovrride.com
RewriteCond %{HTTP_HOST} ^ovrride\.net$ [OR]
RewriteCond %{HTTP_HOST} ^www\.ovrride\.net$
RewriteRule ^(.*)$ "http\:\/\/ovrride\.com\/$1" [R=301,L]

# Redirect calendar.ovrride.com to ovrride.com/events
RewriteCond %{HTTP_HOST} ^calendar\.ovrride\.com
RewriteRule ^(.*) http://ovrride.com/events/ [L,R=301]

# File type for HTML 5 offline cache
AddType text/cache-manifest .manifest

# Redirect ovrride.com/lists
# RewriteRule ^lists$ http://lists.ovrride.com/ [R=301,L]

# Redirect ovrride.com/beta
RewriteRule ^beta$ http://beta.ovrride.com/ [R=301,L]

# Webmail Redirect
Redirect 301 /mail https://webmail.ovrride.com

# Temporary Redirects for Waiver url change
Redirect 301 "/OvR 2014-15WAIVER.pdf.zip" /wp-content/uploads/2015/05/OvR-2014-15WAIVER.pdf.zip