.sidebar-nav .btn {
    width:80%;
}

.sidebar-nav .half {
    margin: 0 auto 10px auto;
    width: 75%;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.ovr {
    background-color:#09BDEB;
    position:fixed;
    top:0;
    width:100%;
}

#brand {
    color:white;
    left:1%;
}

.pad {
    padding-top:60px;
}

#menu-toggle, #addWalkOn, #addDestination {
  float: right;
  position: relative;
  top:9px;
}
#addDestination {
    margin-bottom: 15px;
}
#menuSave {
  float: right;
  margin-bottom: 20px;
  position: relative;
  top: 15px;
}
#clearData, #generate_list {
  /* Padded bottom to avoid mobile safari scolling bottom bar up when clicking on button */
  margin: 20px 0 40px 0;
}

.listButton {
    border-radius:10px;
    box-shadow: 3px 3px 1px 1px #ccc;
    margin: 0 3px 10px 3px;
    padding: 7px 15px 7px 15px;
    -webkit-touch-callout: none;
    user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
}

.listButton a {
    color: #777777;
    text-decoration: underline;
}

.listButton a:hover {
    color: #000000;
}

.buttonCell {
    display: block;
    overflow: hidden;
    padding-bottom:5px;
}

.bg-none {
    border:1px solid black;
}

.bg-pm {
    background-color: #FF9900;
    border: 1px solid #333333;
    color: #FFFFFF;
}

.bg-am {
    background-color:#FAE92A;
    border:1px solid #333333;
}

.bg-waiver {
    background-color:#5CB85C;
    border: 1px solid #333333;
    color: #FFFFFF;
}

.bg-productrec {
    background-color:#5BC0DE;
    border: 1px solid #333333;
    color: #FFFFFF;
}

.bg-noshow {
    background-color: #FA2A2A;
    border: 1px solid #333333;
    color: #FFFFFF;
}

.bg-noshow a{
  color:#111111;
}

.btn-black {
  background-color:#000000;
  border: 1px solid #D1D1D1;
  color:#FFFFFF;
}
.btn-black:active, .btn-black:hover {
    color:#FFFFFF;
}

#default{
    margin-left:10px;
}

.summary {
    border-collapse:collapse;
    text-align: center;
}

.summary th {
  background-color: #D1D1D1;
  border: 3px solid black;
  padding: 0 10px 0 10px;
}

.summary td {
    border: 1px solid grey;
}
.reports button {
  margin: 20px 0 10px 0;
}

#reportsContent p {
  background: #D1D1D1;
  border:1px solid grey;
  border-radius: 10px;
  padding: 10px;
  width:100%;
}
#destTable td,th{
    padding: 3px;
    text-align: center;
}
#content {
    margin-left:5px;
}
#walkonPackage {
  width: 190px;
}
#walkon {
  width: 195px;
}
.version {
  color: #FFFFFF;
  padding-top: 10px;
}
@media (min-width: 768px) {
  .login-window {
    padding-top: 60px;
    width: 60%;
  }
}
.iosFix {
  padding-top:20px;
}

@media (max-width: 767px) {
  .login-window {
    padding-top: 20px;
    width: 100%;
  }
}
.logo {
  text-align: center;
}
.mobileButtons .btn, #AMPM {
  margin-bottom: 5px;
}

.pickupList, .packageList {
  margin: 10px 25px 5px;
  position: relative;
  top: 0;
  width: 70%;
}
#backMobile {
  position: relative;
  top: -3px;
}
#newReport {
  resize:vertical;
}
#walkon select {
  max-width: 100%;
}
#walkonCrew {
  margin-bottom: 10px;
}
.crew img {
  height: 40px;
  width: 40px;
}
