/*!
 *
 * OvR Lists - Custom Sass Styles
 *
 */
@import "bootstrap/bootstrap";
@import "color-me-sass/color-me-sass";

// BEGIN BOOTSTRAP OVERRIDES
// -------------------------


// END BOOTSTRAP OVERRIDES
// -------------------------


// BASE STYLES
// -------------------------

body {
  // margin: 10px;
 // padding-top:20px;
}

.trip-select {
  margin-bottom: 10px;
  width: 75%;
}

.order-status-select {
  margin-bottom: 10px;
}

.generate-list {
  margin-top: 20px;
  margin-left: 20px;
}

// BOOTSTRAP NAV
// -------------------------

// Pull Navbar right for desktop and left for mobile
 @media (max-width: 767px) {
  .nav-puller {
   float: left;
   }
 }

  @media (min-width: 768px) {
  .nav-puller {
   float: right;
   }
 }


// FOOTER
// -------------------------

.footer-center {
  color: $red;
  font-weight:bold;
}

// TABLE and TABLESORTER
// -------------------------

table {
  color: $grayDark;
}

.tablesorter-header {
  font-weight:bold;
}

// Do not wrap table cells
td {
white-space: nowrap;
}
.tablesorter .header,
.tablesorter .tablesorter-header {
	background-image: url(data:image/gif;base64,R0lGODlhFQAJAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAkAAAIXjI+AywnaYnhUMoqt3gZXPmVg94yJVQAAOw==);
	background-position: center right;
	background-repeat: no-repeat;
	cursor: pointer;
	white-space: nowrap;
	padding: 4px 20px 4px 4px;
}
.tablesorter thead .headerSortUp,
.tablesorter thead .tablesorter-headerSortUp,
.tablesorter thead .tablesorter-headerAsc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjI8Bya2wnINUMopZAQA7);
	border-bottom: #000 2px solid;
}
.tablesorter thead .headerSortDown,
.tablesorter thead .tablesorter-headerSortDown,
.tablesorter thead .tablesorter-headerDesc {
	background-image: url(data:image/gif;base64,R0lGODlhFQAEAIAAACMtMP///yH5BAEAAAEALAAAAAAVAAQAAAINjB+gC+jP2ptn0WskLQA7);
	border-bottom: #000 2px solid;
}

//Editable Table CSS
.tablesorter tbody > tr > td[contenteditable=true]:focus {
  outline: #08f 1px solid;
  background: #eee;
  resize: none;
}

// FOOTER
// -------------------------

.login-window {
  padding-top: 60px;
  width: 60%;
}
