/*!
 *
 * OvR Lists - Custom Sass Styles
 *
 */
@import "bootstrap/bootstrap";
@import "color-me-sass/color-me-sass";

// BEGIN BOOTSTRAP OVERRIDES
// -------------------------


// END BOOTSTRAP OVERRIDES
// -------------------------


// BASE STYLES
// -------------------------

body {
  margin: 10px;
}

.trip-select {
  margin-bottom: 10px;
}

.order-status-select {
  margin-bottom: 10px;
}

.generate-list {
  margin-top: 20px;
}

// Do not wrap table cells
td {
white-space: nowrap;
}


// FOOTER
// -------------------------

.footer-center {
  color: $red;
  font-weight:bold;
}
