[ req ]
prompt = no
default_bits = 2048
default_keyfile = local.ovrride.com.key
encrypt_key = no
distinguished_name = req_distinguished_name
 
string_mask = utf8only
 
req_extensions = v3_req
 
[ req_distinguished_name ]
O=OvRride LLC
L=New York
ST=New York
C=US
CN=*.local.ovrride.com
 
[ v3_req ]
 
basicConstraints = CA:FALSE
keyUsage = nonRepudiation, digitalSignature, keyEncipherment
